<h1>Edit Edition</h1>

<form action="/editions/<%= @edition.id %>" method="POST">

  <label for="album-confirm">Confirm Album:</label>
  <select id="album-confirm" name="title_id" required>

    <% @albums.each do |album| %>
    <option <%= "selected" if @edition.title_id == album.id %> value="<%= album.id %>"> <%= album.title %> </option>
    <% end %>
  </select>

  <label for="format-confirm">Confirm Format:</label>
  <select id="format-confirm" name="format" required>
    <option value ="">Please Confirm</option>
    <option <%= "selected" if @edition.format == "cd" %> value ="cd">CD</option>
    <option <%= "selected" if @edition.format == "vinyl" %> value ="vinyl">Vinyl</option>
  </select>

  <label for="version-notes-field">Version Notes:</label>
  <input id="version-notes-field" name="version_notes" type="text" value="<%= @edition.version_notes %>"/>

  <label for="edition-release-year-field">Edition Release Year:</label>
  <input id="edition-release-year-field" name="edition_release_year" type="number" value="<%= @edition.edition_release_year %>"/>

  <label for="supplier-price-field">Supplier Price:</label>
  <input id="supplier-price-field" name="supplier_price" type="number" value="<%= @edition.supplier_price %>"/>

  <label for="retail-price-field">Retail Price:</label>
  <input id="retail-price-field" name="retail_price" type="number" value="<%= @edition.retail_price %>"/>

  <label for="number-in-stock-field">Number in Stock:</label>
  <input id="number-in-stock-field" name="number_in_stock" type="number" value="<%= @edition.number_in_stock %>"/>

  <input type="submit" value="Add to Editions">

</form>
