<h1>Inventory <a class="link-near-heading" href="/artists/new">Add New Artist</a><a class="link-near-heading" href="/albums/new">Add New Album</a><a class="link-near-heading" href="/editions/new">Add New Edition</a></h1>

<hr/>

<% @editions.each do |edition| %>

<p class="data-row">"<%= edition.album.title() %>" by <%= edition.artist.name() %>  (<%= edition.album.original_release_year %>): <%= edition.edition_release_year %> edition on <%= edition.format %> Supplier Price: £<%= sprintf( '%.2f', (edition.supplier_price)/100) %> - Retail Price: £<%= sprintf( '%.2f', (edition.retail_price)/100) %></p>

  <a class="edit-link" href="/editions/<%= edition.id%>/edit">EDIT</a> <a class="delete-link" href="/editions/<%=edition.id%>/warn-delete">DELETE</a>

  <p class="stocklevel<%= edition.number_in_stock %> <%= "collectible" if edition.collectible == "n" %>">Collectible? (<%= edition.collectible %>) - <%= edition.number_in_stock %> in stock</p>
<hr>
<% end %>
