<h1>Album View</h1>

<h2 class="viewheading">"<%= @album.title %>" by <%= @album.artist.name %><a class="link-near-heading" href="/editions/new">Add New Edition</a></h2>
<hr>

<% @editions.each do |edition| %>

<h3 class="data-row"> <%= edition.edition_release_year %> release on <%= edition.format %> </h3><a class="edit-link" href="/editions/<%= edition.id%>/edit">EDIT</a> <a class="delete-link" href="/editions/<%=edition.id%>/warn-delete">DELETE</a>
<p><%= edition.version_notes %> - Supplier Price: £<%= sprintf( '%.2f', (edition.supplier_price)/100) %> - Retail Price: £<%= sprintf( '%.2f', (edition.retail_price)/100) %></p>
<p class="stocklevel"><%= "[COLLECTOR'S ITEM]" if edition.collectible == "y" %> - <%= edition.number_in_stock %> in stock</p>
<hr>
<% end %>
