<h1>All Artists <a class="link-near-heading" href="/artists/new">Add New Artist</a></h1>

<hr/>

<% @artists.each do |artist| %>

<p class="data-row"><%= artist.name() %> <a class="navlink" href="/artists/<%=artist.id%>"><%= artist.all_albums.count %> Album<%="s" if artist.all_albums.count != 1 %></a> <a class="edit-link" href="/artists/<%= artist.id%>/edit">EDIT</a> <a class="delete-link" href="/artists/<%=artist.id%>/warn-delete">DELETE</a>
  <hr/>
<% end %>
